<div class="hero-section">
    <h1>BOTH SECTION</h1>
    <div class="main">
        <div class="input-section">
            <input class="input" type="text" name="" placeholder="Heading">
    
            <input class="input" type="text" name="" placeholder="Description for her">
            <input class="input" type="text" name="" placeholder="Name of product to add them">
            <h2>Products available</h2>
            
        </div>
        </div>
</div>