<form action="/manageProducts/createProd" method="POST">
    <div class="hero-section">
        <h1>CREATE PRODUCT</h1>
        <div class="main">
            
        <div class="input-section">
            <label for="name">Name</label>
                <input class="input" type="text" id="name" name="name" placeholder="Enter Name of Product">
            <label for="description">Description</label>
                <input class="input" type="text" id="description" name="description" placeholder="Overall Description">
            <label for="">Notes</label>
                <input class="input" type="text" id="topNote" name="topNote" placeholder=" Top Note">
                <input class="input" type="text" id="baseNote" name="baseNote" placeholder=" Base Note">
                <input class="input" type="text" id="HeartNote" name="HeartNote" placeholder=" Heart Note">
                <label for="">Price</label>
                <input class="input" type="text" id=" " name="price" placeholder=" Enter Price">
                <label for="">Image</label>        
        </div>
        </div>
    </div>
</form>