
<div class="hero-section">
    <h1 class="heading">HERO SECTION</h1>
    <div class="main">
        <h1>Quotes</h1>
        <div class="input-section">
            <input class="input" type="text" name="quote" placeholder="Write you Quotation">
        </div>
    </div>

    <div class="main">
        <div class="input-section">
            <h1>Description</h1>
            <textarea class="homePageDescription" name="homePageDescription" id=""></textarea>
        </div>
    </div>

    <div class="main">
        <div class="input-section">
            <h1>Background image</h1>
        </div>
    </div>

    </div>
</div>