<div class="sidebar">
    <h2>Admin Panel</h2>
    <div class="nav-btn">
        <div class="dropdown">
            <a href="/admin/manageProducts" class="dropdownToggle manageProducts">Manage Products <img class="ddIcon" src="/icons/dropDownn.svg" alt=""></a>
            <ul class="dropdownSection">
                <li><a href="/admin/manageProducts/getcreateProd" class="dropdownItem">Create new product</a></li>
                <li><a href="/admin/manageProducts/readProd" class="dropdownItem">All products</a></li>
                <!-- <a href="/createProd">Create new product</a> -->
            </ul>
        </div>
        <a href="/admin/heroSection">Hero Section</a>

        <div class="dropdown">
            <a href="/admin/categorySection" class="dropdownToggle categorySection">Category Section <img class="ddIcon" src="/icons/dropDownn.svg" alt=""></a>
            <ul class="dropdownSection">
                <li><a href="/admin/categorySection/Female" class="dropdownItem">Female</a></li>
                <li><a href="/admin/categorySection/Male" class="dropdownItem">Male</a></li>
                <li><a href="/admin/categorySection/Both" class="dropdownItem">Both</a></li>
            </ul>
        </div>
        <a href="/admin/featuredSection">Featured perfumes</a>
        <a href="/admin/corouselSection">Product Corousel</a>
        <a href="/admin/showProdSection">All Product Page</a>
    </div>
</div>
