<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FZ</title>
    <link rel="stylesheet" href="/css/layout.css">

</head>
<body>
    <div class="layout-container">
        <div class="side-section">
            <%- include("./partials/sidebar")%>
        </div>
    
        <div class="ejs-section">
            <%- body%>
        </div>
    </div>
<script src="/js/sidebar.js"></script>
<script src="/js/editPage.js"></script>

</body>
</html>